<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright &#169;2016 Rails100
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rails-100/" target=_new>ciou</a>
  </p>
</footer>
